:root {
  --primary: #bb86fc;
  --secondary: #f1e6fe;
  --success: #06d6a0;
  --warning: #fdca40;
  --error: #e5625e;
  --info: #6f4bf1;
  --gray: #cdcdcd;

  --border: 4px;
  --border-color: #505050;
  --border-color-dark: #191919;

  --font: 'Open Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  --shadow-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --shadow-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --shadow-3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  --shadow-4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  --color-neutral-20: #cdcdcd;
  --color-neutral-60: #686868;
  --color-neutral-70: #2c2c2c;
  --color-neutral-80: #282828;

  --xxxl: 4.5rem;
  --xxl: 1.75rem;
  --xl: 1.5rem;
  --lg: 1.25rem;
  --md: 1.125rem;
  --sm: 1rem;
  --xsm: 0.8rem;

  --opacity-15: rgba(0, 0, 0, 0.15);
  --opacity-90: rgba(0, 0, 0, 0.9);

  --border-radius: 4px;
}

/*------------------- app menu -------------------*/
.App-menu-modal {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--opacity-90);
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.App-menu-content {
  width: 50vw;
}

.App-menu-content li a {
  font-size: 1.25rem;
  display: block;
  padding: 1rem;
  margin: 0.5rem 0;
  background-color: var(--color-neutral-80);
}

.App-menu-button--close {
  position: absolute;
  top: 0;
  right: 1rem;
  z-index: 1001;
  margin: 0.5rem;
}

/*------------------- app card -------------------*/
.App-card-container {
  width: 200px;
  background-color: var(--secondary);
  box-shadow: var(--shadow-2);
}
.App-card-container:hover {
  transform: scale(1.02);
  box-shadow: var(--shadow-4);
}
.App-card {
  color: var(--color-neutral-80);
}

.App-card h5 {
  font-size: 0.8rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.App-card--p {
  display: inline-block;
  line-height: 1.5;
  font-weight: 400;
  font-size: 0.75rem;
}

/* slide */

.App-slide {
  width: 800px;
}
.App-slide-side {
  display: flex;
  flex-direction: column;
  max-height: 350px;
  overflow: hidden;
}
.App-slide--img {
  height: 120px;
}
/* search */
.App-search-container {
  position: relative;
}

.App-search-button {
  display: flex;
  padding: 0;
  margin: 0;
  outline: none;
  width: 100%;
  margin-bottom: 2px;
  border-right: 4px solid var(--secondary);
}
.App-search-button:hover {
  border-right: 4px solid var(--primary);
}

.App-poster-mini {
  width: 50px;
  height: 65px;
}
.App-search-result {
  position: absolute;
  z-index: 500;
  width: 100%;
  box-shadow: var(--shadow-1);
  background-color: var(--color-neutral-80);
}

.App-search-result--body {
  padding: 0.5rem;
}
.App-search-result--body p {
  font-size: var(--xsm);
  margin: 0;
}
/*------------------- app details -------------------*/
.App-details p {
  padding: 0.5rem 0;
  margin: 0;
  border-bottom: 1px solid var(--opacity-15);
}
.App-details p:first-child {
  border-top: 1px solid var(--opacity-15);
}

.App-details b {
  font-weight: 700;
  margin-right: 0.75rem;
}
/*------------------- app maze -------------------*/

.App-maze-list {
  border-bottom: 1px solid var(--border-color-dark);
  display: grid;
  font-size: 0.9rem;
  gap: 1rem;
  grid-template-columns: auto 3fr 20px 4fr 2fr 1fr auto;
  margin-top: 0.1rem !important;
}
.App-maze-list p {
  display: flex;
  align-items: center;
  font-size: var(--sm);
  font-weight: 300;
}

.App-footer-icon {
  width: 2.5rem;
  padding: 0.25rem;
}
.App-footer--links a {
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 600;
  padding: 0.25rem;
  text-transform: uppercase;
}
.App-footer--links a:hover {
  color: var(--secondary);
}

.App-tags {
  display: flex;
  gap: 0.5rem;
}
.App-tags span {
  background: var(--color-neutral-20);
  border-radius: 4rem;
  color: var(--color-neutral-80);
  display: inline-block;
  font-size: 0.75rem;
  letter-spacing: 0.03rem;
  padding: 0.2rem 1.2rem;
  box-shadow: var(--shadow-1);
}

/* App-profile--user */
.App-profile--user {
  background-color: var(--primary);
  color: var(--color-neutral-80);
}

/* App-card-watchlist */
.App-card-watchlist {
  position: absolute;
  right: 0;
  top: 0;
}

footer {
  background-color: #000;
  color: var(--secondary);
  padding: 2rem 0 4rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
