.spinner {
  width: 32px;
  height: 32px;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: solid 2px var(--opacity-15);
  border-top-color: var(--opacity-15);
  border-right-color: var(--opacity-15);
  border-bottom-color: var(--opacity-15);
  border-left-color: var(--opacity-15);
  border-color: #07c var(--opacity-15) var(--opacity-15) var(--opacity-15);
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
